<h2>Rank Preços Gasolina</h2>
<table id = "county-rank-by-fuel">
  <tr>
    <th>Rank</th>
    <th>Municipio</th>
    <th>Estado</th>
    <th>Preço médio</th>
  </tr>
  <% for i in 0..(@counties_sorted_gasoline.length-1)%>
  <tr>
    <% if(i == 0) %>
    <td><%= image_tag("gold.png", :alt => "rank")%> <%= i+1 %></td>
    <%end%>
    <% if(i == 1) %>
    <td><%= image_tag("silver.png", :alt => "rank")%> <%= i+1 %></td>
    <% end %>
    <% if(i == 2) %>
    <td><%= image_tag("bronze.png", :alt => "rank")%> <%= i+1 %></td>
    <%end%>
    <% if(i > 2) %>
    <td><%= image_tag("honor_medal.png", :alt => "rank")%> <%= i+1 %></td>
    <%end%>
    <td><%= @counties_sorted_gasoline[i].name.titleize %></td>
    <td><%= @counties_sorted_gasoline[i].state.name.titleize %></td>
    <td><%= @gasoline_sorted[i].medium_resale_price %></td>
  </tr>
  <% end %>
</table>
