<% content_for :header do -%>
<%= javascript_include_tag 'dinamic_selection.js' %>
<%= javascript_include_tag 'highcharts-custom.js' %>
<% end %>
<div class="container">

	<span class="same_line">
		Escolha o Estado Desejado:
		<%= form_tag("/statistics/county_anual", method: "get", remote: false) do %>
		<%= select_tag 'state_searched', options_for_select(["Selecione um estado"] + @states, :selected => params[:state_searched]), id: "state_tag"%>
		<% if params[:state_searched] != nil %>
		<%= select_tag 'county_searched', options_for_select(["Selecione um município"] + @counties_of_state ,:selected => params[:county_searched]) , id: "county_tag" %>
		<%= submit_tag "Confirmar", name: nil, id: "select_button"%>
		<% end %>
	</span>


	<div class="graph_county_anual">
		<%= render partial: '/shared_graphs/graphs', locals: {chart: @chart } %>
	</div>
	<% end %>
</div>
