<div id ="type_of_fuel_selection">

  <ul class="nav nav-tabs">

    <li role="presentation" class="active" id="gasolina-info-btn">
      <a href="#">Gasolina</a>
    </li>
    <li role="presentation" id="etanol-info-btn">
      <a href="#">Etanol</a>
    </li>
    <li role="presentation" id="diesel-info-btn">
      <a href="#">Diesel</a>
    </li>

  </ul>
  
</div>

    <div class="gasolina-info">
      <%= render "gasolina" %>
    </div>

    <div class="etanol-info">
      <%= render "etanol" %>
    </div>

    <div class="diesel-info">
      <%= render "diesel" %>
    </div>


<div class="container">



<span class="same_line">
     Escolha o Municipio Desejado:

  <%= select_tag 'county', options_for_select(@years, :selected => params[:county]), id: "select_tag"%>
  <%= submit_tag "Confirmar", name: nil, id: "select_button"%>

</span>

</div>

<div class="graph_sanction_type">
	<%= high_chart("id", @chart) %>

</div>
</div>