<div class="container">

<%= form_tag("/statistics/county_anual", method: "get", class: "form-search") do %>
<div id="state-group">
  <%= label_tag(:state_searched, "Estado:") %>
  <select name="state_searched" class="dropdown" required="on">
    <option value=""> Escolha um estado </option>
    <% @states.each do |state| %>
    <option value="<%= state %>"><%= state %></option>
    <% end %>
  </select>
</div>

<div id="county-group">
  <%= label_tag(:county_searched, "Município:") %>
  <select name="county_searched" class="dropdown" required="on">
    <option value=""> Escolha um município </option>
    <% @counties_of_state.each do |county| %>
    <option value="<%= county %>"><%= county %></option>
    <% end %>
  </select>
</div>

<div id="search-buttons">
  <%= submit_tag("Pesquisar", class: "btn btn-success") %>
</div>

<% end %>

<div class="graph_sanction_type">
	<%= high_chart("id", @chart) %>

</div>


</div>