<div class="container">

	<span class="same_line">
		Escolha o Estado Desejado:
		<%= form_tag("/statistics/state_monthly", method: "get", remote: false) do %>
		<%= select_tag 'state_searched', options_for_select(@states, :selected => params[:state_searched]), id: "select_tag"%>
		<%= submit_tag "Confirmar", name: nil, id: "select_button"%>
		<% end %>
	</span>

	<% if @counties_of_state != nil %>
		<span class="same_line">
			Escolha o Ano Desejado:
			<%= form_tag("/statistics/state_monthly", method: "get", remote: true) do %>
			<%= select_tag 'years', options_for_select([[""]] + @years ,:selected => params[:year_selected]) , id: "select_tag1" %>
			<% end %>
		</span>
	<% end %>

</div>