<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
		<meta name="description" content="Uma aplicação web que visa mostrar as melhores cidades para abastecer seu carro durante a sua viagem">
		<meta name="author" content="Abastece Aqui	">
		<title>Abastece Aqui</title>
		<link rel="icon" href="http://imageshack.com/a/img923/4266/L3oW40.png" />
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= yield(:header) %>
		<%= csrf_meta_tags %>


	</head>
	<body>

		<%= render '/shared/header' %>
		<div class= "padding-page-top">
			<%= yield %>
		</div>

		<script type="text/javascript">
			<%= yield(:page_script) %>
		</script>
		<%= render '/shared/footer' %>
	</body>
</html>
