<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
		<meta name="description" content="Uma aplicação web que visa mostrar as melhores cidades para abastecer seu carro durante a sua viagem">
		<meta name="author" content="Abastece Aqui	">
		<title>Abastece Aqui</title>
		<link rel="icon" href="http://imageshack.com/a/img923/4266/L3oW40.png" />
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
		<link type="text/css" rel="stylesheet" href="http://gregfranko.com/jquery.selectBoxIt.js/css/jquery.selectBoxIt.css" />
		<link type="text/css" rel="stylesheet" href="http://http://gregfranko.com/jquery.selectBoxIt.js/css/jquery.selectBoxIt.css" />
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
		<script src="http://gregfranko.com/jquery.selectBoxIt.js/js/jquery.selectBoxIt.min.js"></script>
		<%= yield(:header) %>
		<%= csrf_meta_tags %>


	</head>
	<body>

		<%= render '/shared/header' %>
		<div class= "padding-page-top">
			<%= yield %>
		</div>

		<%= yield(:javascript) %>

		<%= render '/shared/footer' %>
	</body>
</html>
