<% content_for :header do -%>
	<%= javascript_include_tag 'dinamic_selection.js' %>
	<%= javascript_include_tag 'highcharts-custom.js' %>
<% end %>

<%= render '/shared/back_statistics' %>

<div class="container">
	<span class="same_line">
		<%= form_tag("/statistics/county_monthly", method: "get", remote: false) do %>
  		<%= select_tag 'state_searched', options_for_select(["Selecione um Estado"] + @states, :selected => params[:state_searched]), id: "state_county_graph_monthly_select_tag"%>
			<%if params[:state_searched] != nil %>
				<br><br>
      	<%= select_tag 'county_searched', options_for_select(["Selecione um Município"] + @counties_of_state ,:selected => params[:county_searched]) , id: "county_county_graph_monthly_select_tag"%>
      	<% if params[:county_searched] != nil %>
					<br><br>
					<%= select_tag 'year_selected', options_for_select(["Selecione um ano"] + @years ,:selected => params[:year_selected]) , id: "year_county_graph_monthly_select_tag" %>
      	<% end %>
			<% end %>
      <%= submit_tag "Confirmar", name: nil, id: "select_button"%>
  </span>
    <%= render partial: '/shared_graphs/graphs', locals: {chart: @chart } %>
	<% end %>

</div>
