<table id ="data-table">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Municipio</th>
      <th>Estado</th>
      <th>Preço médio</th>
    </tr>
  </thead>
  <tbody>
    <% for i in 0..(counties_sorted.length-1)%>
    <tr>
      <% if(i == 0) %>
      <td><%= image_tag("gold.png", :alt => "rank")%> <%= i+1 %></td>
      <%end%>
      <% if(i == 1) %>
      <td><%= image_tag("silver.png", :alt => "rank")%> <%= i+1 %></td>
      <% end %>
      <% if(i == 2) %>
      <td><%= image_tag("bronze.png", :alt => "rank")%> <%= i+1 %></td>
      <%end%>
      <% if(i > 2) %>
      <td><%= image_tag("honor_medal.png", :alt => "rank")%> <%= i+1 %></td>
      <%end%>
      <td><%= counties_sorted[i].name.titleize %></td>
      <td><%= counties_sorted[i].state.name.titleize %></td>
      <% if attribute == "standardDeviation" %>
        <td><%= fuel_sorted[i].distribuition_standard_deviation %></td>
      <% elsif attribute == "resalePrice" %>
        <td><%= fuel_sorted[i].medium_resale_price %></td>
      <% end %>
    </tr>
    <% end %>

  </tbody>
</table>