<legend>SearchCounty</legend>
<%= form_tag("/searcher", method: "get") do %>
	<h2 id = "title-form">Pesquisar Município</h2>
 	<div id="county-group">
		<%= label_tag(:county_searched, "Município") %>
		
		<input list="counties">
		<datalist id= "counties">
			<% @counties_of_state.each do |county| %>
				<option value=<%= county %>><%= county %></option>
			<% end %>
		</datalist>
	</div>

	<%= submit_tag("Pesquisar", class: "btn btn-success") %>

<% end %>


<div id= "card-container">
	<div class="container">
		<div class="row">
		<% @fuel.each do |fuel_atributes| %>
    		<div class="[ col-sm-6 col-md-3 col-xs-6 ]">
				<div class="[ card-info ]">
					<div class="card-color">
						<img id="card-logo" src="assets/logo_pin.png" />
						<div class="[ card-info-details ] animate">
							<div class="[ card-info-title ]">
								<h1> <%= fuel_atributes.fuel_type.type_name %>	 </h1>
								<h3><p><br>Preço médio: <%= fuel_atributes.medium_resale_price %></p></h3>
							</div>
							<div class="[ card-info-detail ]">
								<p>Preço mínimo: <%= fuel_atributes.min_resale_price %></p>
								<p>Preço máximo: <%= fuel_atributes.max_resale_price %></p>
								<p>Postos pesquisados: <%= fuel_atributes.number_of_gas_station %></p>
								<p>Data de pesquisa: <%= @date %> </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		<% end %>
		</div>
	</div>
</div>

</div>
<div id="map-brazil">
<%= render '/search/map' %>
</div>
         



