<legend>SearchCounty</legend>


<div id="main-content"> 

<%= form_tag("/searcher", method: "get") do %>
	<h2 id = "title-form">Pesquisar Município</h2>
		<div id="state-group">
		<%= label_tag(:state_searched, "Estado") %>
		<%= text_field_tag 'state_searched', nil, placeholder: "Nome do Estado", :required => true %>
	</div>
 	<div id="county-group">
		<%= label_tag(:county_searched, "Município") %>
		
		<input list="counties">
		<datalist id= "counties">
			<% @counties_of_state.each do |county| %>
				<option value=<%= county %>><%= county %></option>
			<% end %>
		</datalist>
	</div>

	<%= submit_tag("Pesquisar", class: "btn btn-success") %>

<div id= "card-container">
<% @fuel.each do |fuel_atributes| %>
	<div class="card">

		<div class="card-color">
			
		</div>
		<div class="card-info">
			<p class= "card-title"><%= fuel_atributes.fuel_type.type_name.capitalize %></p>
			<p class= "card-info-content">Preço médio: <%= fuel_atributes.medium_resale_price %></p>
		</div>
		<div class="card-hidden">
			<p class="card-title"><%= fuel_atributes.fuel_type.type_name.capitalize %></p> <hr/>

			<div id="card-hidden-content">
				<p >Preço mínimo: <%= fuel_atributes.min_resale_price %></p>

				<p>Preço médio: <%= fuel_atributes.medium_resale_price %></p>

				<p>Preço máximo: <%= fuel_atributes.max_resale_price %></p>
	 
				<p>Postos pesquisados: <%= fuel_atributes.number_of_gas_station %></p>

				<p>Data de pesquisa: <%= @date %> </p>
			</div>
		</div>
	</div>
<% end %>
</div>

<% end %>
         
</div>



