<legend>SearchCounty</legend>
<%= form_tag("/searcher", method: "get", class: "form-search") do %>
<div id="state-group">
  <%= label_tag(:state_searched, "Estado:") %>
  <select class="dropdown" name="state_searched" >
    <optgroup label="Estado Selecionado">
      <option value="<%= @state_searched %>"><%= @state_searched %></option>      
    </optgroup>
  </select>
</div>
<div id="county-group">
  <%= label_tag(:county_searched, "Município:") %>
  <select name="county_searched" class="dropdown" required="on">
    <option value=""> Escolha um município </option>
    <% @counties_of_state.each do |county| %>
    <option value="<%= county %>"><%= county %></option>
    <% end %>
  </select>
</div>

<div id="search-buttons">
  <a href="search-map-brazil"><%=button_tag("Escolher outro estado", class: "btn btn-default") %></a>
  <%= submit_tag("Pesquisar", class: "btn btn-success") %>
</div>

<% end %>

<% if @county_searched != nil %>
<div id= "card-container">
  <div class="container">
    <div class="row">
      <% @fuel.each do |fuel_atributes| %>
      <div class="[ col-sm-6 col-md-3 col-xs-6 ]">
        <div class="[ card-info ]">
          <div class="card-color">
            <img id="card-logo" src="assets/logo_pin.png" />
            <div class="[ card-info-details ] animate">
              <div class="[ card-info-title ]">
                <h2 id= "fuel-name"> <%= fuel_atributes.fuel_type.type_name %>   </h2>
                <p><br>Preço médio: R$ <%= fuel_atributes.medium_resale_price %></p>
              </div>
              <div class="[ card-info-detail ]">
                <p>Preço mínimo: R$ <%= fuel_atributes.min_resale_price %></p>
                <p>Preço máximo: R$ <%= fuel_atributes.max_resale_price %></p>
                <p>Postos pesquisados: <%= fuel_atributes.number_of_gas_station %></p>
                <p>Unidade de medida: <%= fuel_atributes.fuel_type.unit_of_measurement %> </p>
                <p>Data de pesquisa: <%= @date.strftime('%d/%m/%Y') %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<% else %>
  <!-- do nothing -->
<% end %>