<% content_for :header do -%>
	<%= javascript_include_tag 'dinamic_selection.js' %>
	<%= javascript_include_tag 'highcharts-custom.js' %>
<% end %>
<div class="container">

	<span class="same_line">
		Escolha o Estado Desejado:
		<%= form_tag("/statistics/state_annual", method: "get", remote: false) do %>
		<%= select_tag 'state_searched', options_for_select([[""]] + @states, :selected => params[:state_searched]), id: "select_tag"%>
		<%= submit_tag "Confirmar", name: nil, id: "select_button"%>
		<% end %>
	</span>


	<% if @state_searched!= nil %>
			<div class="graph_state_annual">
				<%= render "state_annual" %>
			</div>
	<% end %>



</div>
